*{
    box-sizing: border-box;
}
:root{
    --background-color: #22753C;
    --foreground-color: #38C264;
    --shadow-color: #47F57E;
    --font-color: black;
    --font-light-color: white;
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;






}

body {
    font-family: 'Bitter', serif;
    background-color: var(--background-color);
    margin: 0;
}

nav {

background-color: var(--foreground-color);
box-shadow: var(--shadow);
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
padding: 0 10px;
}
/* tagi a mające nava przodka */
nav a {color:var(--font-light-color);
    text-decoration: none;


}

nav a h1 {
padding:0px;
margin:0px;}


nav ul {
    background-color: var(--shadow-color);
    list-style: none;
    margin: 0;
    padding: 0;
  

    /* Hamburger */
    position: fixed;
    width: 40vw;
    right:calc( -40vw - 2px );
    top: calc( 2em + 20px );
    height: calc( 100vh - ( 2em + 20px) );
    transition: .2s;
}
 
nav ul li {
    color: var(--font-light-color);
    text-align: right;
    padding:5px 10px;
    margin: 10px;

}
/* hamburger elements */
nav label{
    border:2px solid var(--font-light-color); 
    border-radius:5px ;
    width: 2em;
    height: 2em;
    margin: 10px 0 ;
    position: relative;
    cursor: pointer;

}
nav label div{
    height: 3px;
    border-radius: 3px;
background-color: var(--font-light-color);
    position: absolute;
    width: 80%;
    left: 10%;
    transition: .2s;
}




nav label div:nth-child(1){
    top:calc( 25% - 1.5px );
}

nav label div:nth-child(2){
    top:calc( 50% - 1.5px );
}

nav label div:nth-child(3){
    top:calc( 75% - 1.5px );
}

#toggler{
    display: none;
}
#toggler:checked ~ ul {
    right: 0;
}



#toggler:checked ~ label div:nth-child(1){
    transform: rotate(45deg);
    top: calc( 50% - 1.5px );
}

#toggler:checked ~ label div:nth-child(2){
    opacity: 0;
}

#toggler:checked ~ label div:nth-child(3){
    transform: rotate(-45deg);
    top: calc( 50% - 1.5px );
}


footer {
    border: 2px dashed teal;
    margin-top: 200vh;
}





@media ( min-width: 768px ){
    nav {padding: 1.5rem 3rem;}

    nav label {display: none;
    }
  nav ul {
    position: static; 
    width: unset;
    height: unset;
    display: flex;
    background-color: transparent;
  }
   nav ul li{
        margin:0;

    }
}
