body {
    background-color: rgb(139, 199, 179);
}

nav {
border: 2px dashed orangered;
}
/* tagi a mające nava przodka */
nav a {color:darkgoldenrod;
border: 2px dashed orange}

nav a h1 {border: 2px dashed red;}



